[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = /Users/iMarc/Documents/repository/privat/dotfiles-pub/.oh-my-zsh
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule ".dircolors-solarized"]
	path = dircolors-solarized
	url = git@github.com:seebi/dircolors-solarized.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = git://github.com/bling/vim-airline.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
